<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li class="mt-1 mb-2">
                            Made within the FiiPractic project.
                        </li>
                        <li class="mt-1 mb-2">
                            .NET Framework Section.
                        </li>
                        <li class="mt-1 mb-2">
                            Supported by BeeNear.
                        </li>
                    </ul>

                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3></h3>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3></h3>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">Iurea Bogdan Iulian © 2020</p>
        </div>
    </footer>
</div>
